html{
    scroll-behavior: smooth;
}

/* Set foreground color for body */
body {
  color: #161616;
}

/* Set foreground color for all anchor elements */
a {
  color: #161616;
}

/* Hide all elements with class visually-hidden */
.visually-hidden {
  display: none;
}

/* Set foreground color for all elements with class card-category */
.card-category {
  color: #D73953;
}

/* Set foreground color for all elements with class section-tagline */
.section-tagline {
  color: #D73953;
}

/* Define custom properties on root element */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Reset color for section-tagline and card-category to color-primary */
.section-tagline, .card-category {
  color: var(--color-primary);
}

/* Reset color for body and anchor to text-color */
body, a {
  color: var(--text-color);
}
